<div id = "header">
	<ul id="headtabs">
		<li><%= link_to "Logout", root_path %></li>
		<li><%= link_to "Add Contact", addcontact_path %></li>
		<li><%= link_to "My Profile", root_path %></li>
		<li><%= link_to "Search", search_path %></li>
		<li><%= link_to "Messages", message_path %></li>
	</ul>
</div>
<div id="sidebar">
	<table id="table" cellpadding="0" cellspacing="0">
		<tr>
		  <td><%= link_to "*", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "A", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "B", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "C", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "D", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "E", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "F", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "G", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "H", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "I", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "J", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "K", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "L", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "M", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "N", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "O", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "P", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "Q", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "R", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "S", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "T", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "U", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "V", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "W", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "X", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "Y", root_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "Z", root_path %></td>
		</tr>
	</table>
</div>
<div id = "content">
	<p>hello</p>
</div>

