<div id = "header">
	<ul id="headtabs">
		<li><%= link_to "Logout", root_path %></li>
		<li><%= link_to 'Add Contact', addcontact_path %></li>
		<li><%= link_to "My Profile", profile_path %></li>
		<li><%= link_to "Search", search_path %></li>
		<li><%= link_to "Messages", message_path %></li>
	</ul>
</div>
<div id="sidebar">
	<table id="table" cellpadding="0" cellspacing="0">
		<tr>
		  <td><%= link_to "*", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "A", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "B", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "C", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "D", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "E", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "F", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "G", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "H", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "I", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "J", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "K", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "L", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "M", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "N", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "O", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "P", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "Q", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "R", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "S", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "T", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "U", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "V", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "W", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "X", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "Y", search_path %></td>
		</tr>
		<tr>
		  <td><%= link_to "Z", search_path %></td>
		</tr>
	</table>
</div>


