<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
  <title><%= @title %></title>
  	<%= stylesheet_link_tag    "Layout" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<div id = "container">
		<div>
			<%= yield %>
		</div>
	</div>
</body>
</html>
